# Today's Agenda
- Sets
> ### What is Sets?
> ### Different ways of creating Sets?
> ### How to call Set elements?
> ### How to apply different set operations?
> ### What are the built-in functions availble in sets!

- **Sets are like lists in that you use them for storing a collection of elements. Unlike lists, however, the elements in a set are nonduplicates and are not placed in any particular order.**
- **with { } we declare a set**
- **sets are unordered and unindexed**
- **set will not allow duplicate elements**

In [1]:
{ }

{}

In [2]:
s = {}
s

{}

In [3]:
type(s)

dict

In [4]:
s = {1,2}
s

{1, 2}

In [5]:
type(s)

set

In [6]:
s1 = set()
s1

set()

In [7]:
# set declaration

my_set = {1,2,3}

print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [8]:
s = {1,2,3,'hello'}
s

{1, 2, 3, 'hello'}

In [9]:
s1 = {1,1,2,4,5.4,7,54,5.4,45, 'hello', 'Hello'}
s1

{1, 2, 4, 45, 5.4, 54, 7, 'Hello', 'hello'}

In [10]:
# creating set using the list

s3 = set([1,2,3,4,4,55])
s3

{1, 2, 3, 4, 55}

In [11]:
s4 = set([1,2,[2,3]])
s4

TypeError: unhashable type: 'list'

In [ ]:
s5 = set((1,2))
s5

In [ ]:
s6 = set((1,2,(2,3,4)))
s6

# Built-in Functions
### adding elements into a set

In [12]:
s

{1, 2, 3, 'hello'}

In [13]:
# we can assign value directly through index

s[0] = 12
s

TypeError: 'set' object does not support item assignment

Here as the set do not have indexes, this kind of assigning a value with the index is not applicable

### add()  

- add( ) method is used to add the elements.

In [14]:
s = {1,2,4}
s

{1, 2, 4}

In [15]:
s.add(3)
s

{1, 2, 3, 4}

In [16]:
s.add(0)
s

{0, 1, 2, 3, 4}

In [17]:
# we cannot add multiple elements using add()

s.add(3,5)
s

TypeError: set.add() takes exactly one argument (2 given)

### update()
- we can add multiple elements using `update`

In [18]:
s

{0, 1, 2, 3, 4}

In [19]:
# we can not add multiple values by using update as below.
# we need to add multiple values by using the iterable/sequence
s.update(12,10)
s

TypeError: 'int' object is not iterable

In [20]:
s.update([7,8])
s

{0, 1, 2, 3, 4, 7, 8}

In [21]:
s.update((5,10))
s

{0, 1, 2, 3, 4, 5, 7, 8, 10}

In [22]:
s.update({44,55})
s

{0, 1, 2, 3, 4, 5, 7, 8, 10, 44, 55}

In [23]:
s.update([10,20,30],{50,78})
s

{0, 1, 2, 3, 4, 5, 7, 8, 10, 20, 30, 44, 50, 55, 78}

### sort()

In [24]:
s = {4,7,0,1,5,6}
s

{0, 1, 4, 5, 6, 7}

### discard()
- Discard will discard the value from the set

- If item to discard is not present, this will not raise an error

In [25]:
s

{0, 1, 4, 5, 6, 7}

In [26]:
s.discard(5)
s

{0, 1, 4, 6, 7}

In [27]:
s.discard(80)
s

{0, 1, 4, 6, 7}

### remove()
- Remove will remove the value from the set if the value exists, if not 
- it generates error

In [28]:
s

{0, 1, 4, 6, 7}

In [29]:
s.remove(4)
s

{0, 1, 6, 7}

In [30]:
s.remove(10)
s

KeyError: 10

### pop()
- pop is used to delete element from the given set
- we can not the predict the which element will be delete because set is unindexed

In [ ]:
s = {1,5,7,8,9,2,3,4,4}
s

In [ ]:
s.pop()

In [31]:
s

{0, 1, 6, 7}

In [32]:
s.pop()
s

{1, 6, 7}

### clear()
- it empties the set

In [33]:
s

{1, 6, 7}

In [34]:
s.clear()
s

set()

### del 

- del keyword deletes the set completely

In [80]:
s = {1,2,3,4}
s

{1, 2, 3, 4}

In [81]:
del s

In [82]:
s

NameError: name 's' is not defined

###### When a string is given by using the set( ), the charcaters of the string are splitted in the output

In [35]:
s = set('abcd')
s

{'a', 'b', 'c', 'd'}

In [36]:
s1 = set('aac')
s1

{'a', 'c'}

In [37]:
s2 = set('Welcome to python programming')
s2

{' ',
 'W',
 'a',
 'c',
 'e',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 't',
 'y'}

In [38]:
s3 = set('Welcome to Python programming')
s3

{' ',
 'P',
 'W',
 'a',
 'c',
 'e',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 't',
 'y'}

# Other set operations
- 1. union()
- 2. intersection()
- 3. difference()

##### union( )

In [39]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}

A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
B|A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [41]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [42]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [51]:
print('A union B as A|B ',  A|B)
print('A union B can also be written as B|A ', B|A)
print('Another way of representation as A.union(B) ', A.union(B))
print('Another way of representation as B.union(A) ', B.union(A))

A union B as A|B  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A union B can also be written as B|A  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Another way of representation as A.union(B)  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Another way of representation as B.union(A)  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### intersection( )

In [52]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}

In [53]:
A & B

{5, 6}

In [54]:
B & A

{5, 6}

In [55]:
A.intersection(B)

{5, 6}

In [56]:
B.intersection(A)

{5, 6}

In [57]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}


print('A intesection B as A&B ',  A&B)
print('A intersection B can also be written as B&A ', B&A)
print('Another way of representation as A.intersection(B) ', A.intersection(B))
print('Another way of representation as B.intersection(A) ', B.intersection(A))

A intesection B as A&B  {5, 6}
A intersection B can also be written as B&A  {5, 6}
Another way of representation as A.intersection(B)  {5, 6}
Another way of representation as B.intersection(A)  {5, 6}

#### difference( )

In [58]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}

A - B

{1, 2, 3, 4}

In [59]:
B - A

{7, 8, 9, 10}

In [60]:
A.difference(B)

{1, 2, 3, 4}

In [61]:
B.difference(A)

{7, 8, 9, 10}

In [64]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print('A difference B as A-B ', A-B)
print('Another way is A.difference(B) ', A.difference(B))

A difference B as A-B  {1, 2, 3, 4}
Another way is A.difference(B)  {1, 2, 3, 4}

In [65]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print('B difference A as B-A ', B-A)
print('Another way is B.diiference(A) ', B.difference(A))

B difference A as B-A  {8, 9, 10, 7}
Another way is B.diiference(A)  {8, 9, 10, 7}

#### Symmetric difference

- It prints the values of A and B and eliminates the common elements from both the sets

In [ ]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}

In [66]:
A ^ B

{1, 2, 3, 4, 7, 8, 9, 10}

In [67]:
(A|B) - (A&B)

{1, 2, 3, 4, 7, 8, 9, 10}

In [68]:
A.symmetric_difference(B)

{1, 2, 3, 4, 7, 8, 9, 10}

In [69]:
B.symmetric_difference(A)

{1, 2, 3, 4, 7, 8, 9, 10}

In [72]:
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print('Multiple ways of representing the symmetric difference')
print('A^B as ', A^B)
print('((A|B) - (A&B)) as ', (A|B) - (A&B))
print('A.symmetric_difference(B) as ', A.symmetric_difference(B))
print('B.symmetric_difference(A) as ', B.symmetric_difference(A))

Multiple ways of representing the symmetric difference
A^B as  {1, 2, 3, 4, 7, 8, 9, 10}
((A|B) - (A&B)) as  {1, 2, 3, 4, 7, 8, 9, 10}
A.symmetric_difference(B) as  {1, 2, 3, 4, 7, 8, 9, 10}
B.symmetric_difference(A) as  {1, 2, 3, 4, 7, 8, 9, 10}

# 2. Manipulating and Accessing Sets

- You can add an element to a set or remove an element by using the add(e) or remove(e) method. You can use the len, min, max, and sum functions on a set, and a for loop to traverse all elements in a set. You can use the in or not in operator to determine whether an element is in the set.

In [73]:
s1 = {1,2,4}
s1.add(3)
s1

{1, 2, 3, 4}

In [74]:
print('Length of s1 is ', len(s1))

print('Maximum of s1 is ', max(s1))

print('Minimum of s1 is ', min(s1))

print('Sum of s1 is ', sum(s1))

Length of s1 is  4
Maximum of s1 is  4
Minimum of s1 is  1
Sum of s1 is  10

In [75]:
4 in s1

True

In [76]:
4 not in s1

False

In [77]:
5 in s1

False

In [78]:
5 not in s1

True

In [83]:
x1 = {3,4,5}
x2 = {1,2,3,4,5,6,7}

In [84]:
x1.issubset(x2)    # checks x1 is subset of x2

True

In [85]:
x2.issubset(x1)

False

In [86]:
x1.issuperset(x2)

False

In [87]:
x2.issuperset(x1)

True